In [ ]:
import json
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import text

In [ ]:
url = "your_database_url_here"  # Replace with your actual database URL
# Example: url = "postgresql://user:password@localhost:5432/mydatabase"
engine = create_engine(url)

In [48]:
#df = pd.read_parquet("data.parquet")
df = pd.read_parquet("./data/full_maped_data.parquet")
course = pd.read_parquet("./data/course_df.parquet")
user = pd.read_parquet("./data/user.parquet")
teacher = pd.read_parquet("./data/teacher_df.parquet")
field = pd.read_parquet("./data/field_df.parquet")
school = pd.read_parquet("./data/school_df.parquet")

In [ ]:
# Chuyển ndarray về list nếu có
for col in df.columns:
    if df[col].apply(lambda x: isinstance(x, np.ndarray)).any():
        df[col] = df[col].apply(lambda x: x.tolist() if isinstance(x, np.ndarray) else x)

In [ ]:
def safe_convert(val):
    # Nếu là numpy array → chuyển sang list
    if isinstance(val, np.ndarray):
        return val.tolist()
    # Nếu là list hoặc dict → chuyển sang JSON string
    if isinstance(val, (list, dict)):
        return json.dumps(val, ensure_ascii=False)
    return val


df = df.applymap(safe_convert)
course = course.applymap(safe_convert)
user = user.applymap(safe_convert)
teacher = teacher.applymap(safe_convert)
field = field.applymap(safe_convert)

C:\Users\danhd\AppData\Local\Temp\ipykernel_20560\4172387195.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(safe_convert)
C:\Users\danhd\AppData\Local\Temp\ipykernel_20560\4172387195.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  course = course.applymap(safe_convert)
C:\Users\danhd\AppData\Local\Temp\ipykernel_20560\4172387195.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  user = user.applymap(safe_convert)
C:\Users\danhd\AppData\Local\Temp\ipykernel_20560\4172387195.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  teacher = teacher.applymap(safe_convert)
C:\Users\danhd\AppData\Local\Temp\ipykernel_20560\4172387195.py:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  field = field.applymap(safe_convert)

In [50]:
def print_column_types(df, name):
    print(f"Column types for {name}:")
    for col in df.columns:
        types = df[col].apply(type).value_counts()
        print(f"{col}:")
        print(types)
        print("-----")

In [51]:
print_column_types(df, "df")

Column types for df:
user_id:
user_id
<class 'str'>    47480
Name: count, dtype: int64
-----
name:
name
<class 'str'>    47480
Name: count, dtype: int64
-----
gender:
gender
<class 'int'>    47480
Name: count, dtype: int64
-----
school:
school
<class 'str'>         25526
<class 'NoneType'>    21954
Name: count, dtype: int64
-----
course_id:
course_id
<class 'str'>    47480
Name: count, dtype: int64
-----
enroll_time:
enroll_time
<class 'str'>    47480
Name: count, dtype: int64
-----
weekly_activity:
weekly_activity
<class 'numpy.ndarray'>    29306
<class 'NoneType'>         18174
Name: count, dtype: int64
-----
total_submissions:
total_submissions
<class 'float'>    47480
Name: count, dtype: int64
-----
unique_problems_attempted:
unique_problems_attempted
<class 'float'>    47480
Name: count, dtype: int64
-----
correct_submissions:
correct_submissions
<class 'float'>    47480
Name: count, dtype: int64
-----
accuracy_rate:
accuracy_rate
<class 'float'>    47480
Name: count, dtype: int64
-----
active_weeks:
active_weeks
<class 'float'>    47480
Name: count, dtype: int64
-----
avg_attempts_per_problem:
avg_attempts_per_problem
<class 'float'>    47480
Name: count, dtype: int64
-----
concept:
concept
<class 'numpy.ndarray'>    47480
Name: count, dtype: int64
-----
school_id:
school_id
<class 'numpy.ndarray'>    47480
Name: count, dtype: int64
-----
teacher_ids:
teacher_ids
<class 'numpy.ndarray'>    47480
Name: count, dtype: int64
-----
field:
field
<class 'numpy.ndarray'>    47480
Name: count, dtype: int64
-----
map_accuracy_rate:
map_accuracy_rate
<class 'str'>    47480
Name: count, dtype: int64
-----
map_active_weeks:
map_active_weeks
<class 'str'>    47480
Name: count, dtype: int64
-----

In [7]:
user.to_sql("user", engine, if_exists="replace", index=False)

179

In [7]:
df.to_sql("user_course", engine, if_exists="replace", index=False)

480

In [29]:
course.to_sql("course", engine, if_exists="replace")

749

In [35]:
teacher.to_sql("teacher", engine, if_exists="replace")

53

In [47]:
field.to_sql("field", engine, if_exists="replace")

223

In [49]:
school.to_sql("school", engine, if_exists="replace")

239

In [ ]:
# Count the number of rows in each table
with engine.connect() as conn:
    result = conn.execute(text('SELECT COUNT(*) FROM "teacher"'))
    print(result.scalar())

3053